NEXT_PUBLIC_NAVER_MAP_CLIENT_ID=

NAVER_MAP_CLIENT_ID=
NAVER_MAP_CLIENT_SECRET=
NAVER_DIRECTIONS_BASE_URL=https://naveropenapi.apigw.ntruss.com/map-direction/v1/driving

NEXT_PUBLIC_MAP_PROVIDER=naver
