NEXT_PUBLIC_NAVER_MAP_CLIENT_ID=

NAVER_MAP_CLIENT_ID=
NAVER_MAP_CLIENT_SECRET=
NAVER_DIRECTIONS_BASE_URL=https://naveropenapi.apigw.ntruss.com/map-direction/v1/driving
PUBLIC_ODSAY_URI_API_KEY=
TMAP_PEDESTRIAN_BASE_URL=https://apis.openapi.sk.com/tmap/routes/pedestrian
TMAP_PEDESTRIAN_APP_KEY=

NEXT_PUBLIC_MAP_PROVIDER=naver
